/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Bellefair', serif;*/
    font-family: 'Lato', sans-serif;
}
.thin {
    font-weight: 200;
}
.bold {
    font-weight: 700;
}
.relative {
    position: relative;
}