<div class="relative">
  <div class="jumbotron home-hero" style="background-image:url('../assets/images/ngngHero.jpeg');">
    <h2 class="thin">A community of passionate software developers and Angular lovers across Nigeria.</h2>
  </div>
  <div class="jumbotron overlay"></div>
</div>
<!--<div class="col-md-12 col-sm-12 col-xs-12"></div>-->
<div class="row">
  <h2 class="text-center">We've got so much ngLove to go round</h2>
  <div class="col-md-3 col-sm-3 col-xs-12">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat doloribus numquam molestias non repellendus sapiente, sint voluptates debitis, dignissimos expedita recusandae nulla ut quasi, ducimus rem assumenda dolores iusto eos?
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat doloribus numquam molestias non repellendus sapiente, sint voluptates debitis, dignissimos expedita recusandae nulla ut quasi, ducimus rem assumenda dolores iusto eos?
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat doloribus numquam molestias non repellendus sapiente, sint voluptates debitis, dignissimos expedita recusandae nulla ut quasi, ducimus rem assumenda dolores iusto eos?
  </div>
</div>