/* homepage hero image*/
.home-hero {
  width: 100%;
  height: 75vh; 
  display: block;
  position: absolute;
  background-size: cover;
  background-image: url('../../assets/images/ngngHero-1.jpg');
  transform: scale(1.2); 
  background-position-y: 30%;
  z-index: -1;
}
/* .home-hero-overlay:hover, .home-hero-overlay:focus .home-hero {
  transform: scale(1.3);
  transition: all .5s;
  cursor: pointer;
} */

/*home page hero dark overlay*/
.home-hero-overlay {
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 75vh;
  top: 0;
  z-index: 999;
  transform: scale(1.2); 
  height: 75vh;
}
.after-overlay {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: absolute;
  top: 35vh;
}

@media (min-width: 992px) {
  .after-overlay {
    left: 11vw;    
  }
}

/* call to action */
.cta {
  background-image: url('../../assets/images/ngngHero-2.jpg');
  height: 50vh;
  width: 100%;  
  background-size: cover;
  background-position-y: 45%;
  position: absolute;
}

/* call to action green overlay */
.cta-overlay {
  height: 50vh;
  background: #18bc9c;
  opacity: 0.5;
}
.after-cta-overlay {
  text-align: center;
  position: relative;
  top: -35vh;
  color: white;
}