<div class="relative">
  <div class="jumbotron home-hero" style="background-image:url('../assets/images/ngngHero-1.jpg');">
    <!-- <h2 class="thin">A community of passionate software developers and Angular lovers across Nigeria.</h2> -->
  </div>
  <div class="jumbotron overlay"></div>
  <div class="jumbotron afteroverlay">
    <h2 class="thin">A community of passionate software developers and Angular lovers across Nigeria.</h2>    
  </div>
</div>
<!--<div class="col-md-12 col-sm-12 col-xs-12"></div>-->
<div class="margin-v2">
  <h2 class="text-center section-title margin-v2">We've got so much ngLove to go round</h2>
  <div class="flex margin-v2">
    <div class="col-md-3 col-sm-3 col-xs-12 text-center">
      <span class="ion-social-angular text-green icon-3x"></span>
      <h4 class="">The Best Of Angular</h4>
      <p class="">Whether you're an Angular newbie or a ninja, with a community that boasts of an interesting mix of Angularians, we ensure that the best of Angular is circulated and that everyone learns something new.</p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 text-center">
      <span class="ion-social-angular text-green icon-3x"></span>
      <h4 class="">Building The Community</h4>
      <p class="">We are passionate about building a strong and world-class Angular community in Nigeria. Our meet-ups are geared towards building world class Angular developers</p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 text-center">
      <span class="ion-social-angular text-green icon-3x"></span>
      <h4 class="">New To Angular?</h4>
      <p class="">This is the best community to be part of if you're just picking up Angular. There's a community of Angular developers waiting to share what they know with you.</p>
    </div>
  </div>
</div>